@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body {
    margin: 0;
}

.navbar {
    background: red;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    padding: 2em;
    box-sizing: border-box;
}

.logo {
    width: 6rem;
    height: auto;
}

.menu {
    width: 300px;
}

.menu ul {
    width: 300px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: .9em;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}